:root {
    --navprimary: crimson;
    --navlight: #EEEEEE;
    --navdark: #212121;
    --primary: crimson;
    --light: #f3f4f6;
    --dark: #1f293c;
    --darkdark: #111827;
}
body {
    background-color: var(--light);
    padding-top: 125px;
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-position: top center;
    color: var(--light)
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6))    
}


body {
    font-family: 'Comic Sans MS', 'Comic Sans';
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--navdark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--navprimary)
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--navlight);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--navprimary);
}
.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active:hover span {
    background-color: var(--navprimary);
}
.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0px -16px;
}

.menu a {
   color: #FFF;
   margin: 0 16px;
   font-weight: 600;
   text-decoration: none;
   transition: 0.4s;
   padding: 8px 16px;
   border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--navprimary)
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}

h2 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;

}
p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 20;
}